
<a href="@Url.Action("Giohang","Giohang")" style="color: white; font-weight: bold; text-decoration: none;">
    <img src="~/images/shopping-cart.png" width="25" />Giỏ Hàng (@ViewBag.Tongsoluong)
</a>
