@{
    ViewBag.Title = "Liên hệ";
}


<div class="col-md-6">
    <h2 style="font-weight:bold;">BẢN ĐỒ</h2>
    <div id="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15676.626699237604!2d106.65095262552234!3d10.79930977689501!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175293127296cc5%3A0xd2170728a13985c8!2zMjQ4IEhvw6BuZyBWxINuIFRo4bulLCBQaMaw4budbmcgNCwgVMOibiBCw6xuaCwgVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1680757116302!5m2!1svi!2s" width="500" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
<h2 style="font-weight:bold;">THÔNG  TIN LIÊN HỆ</h2>
<span>
    Chi Nhánh 1 248/18 Hoàng Văn Thụ ( Bán xe SH , Xe Hơi ) <br />Phường 4, Tân Bình, Thành phố Hồ Chí Minh
    Chi Nhánh 2 130 Phan Huy Ích (bán xe cũ ) <br /> >Phường 15, Tân Bình, Thành phố Hồ Chí Minh
</span>

<li data-pf-type="List.Item"
    class="sc-pJVnX jOExFg pf-153eeb4b-2a78db37">
    <i class="sc-pbJYR gsdIuB pf-153eeb4b-c2f4a417 fa fa-volume-control-phone"
       data-pf-type="Icon"></i><span data-pf-type="Text"
                                     class="sc-oUAoT kVASKi pf-153eeb4b-a417837c">
        0𝟗𝟑𝟖.𝟑𝟖𝟒.𝟔𝟒𝟔 Gặp em Thắng( Xe SH) <br /> 0962598724 Gặp Anh Khải (QL Kho xe cũ)
    </span>
</li>
<li data-pf-type="List.Item"
    class="sc-pJVnX jOExFg pf-153eeb4b-db37c491">
    <i class="sc-pbJYR gsdIuB pf-153eeb4b-837c4e2f fa fa-clock-o"
       data-pf-type="Icon"></i><span data-pf-type="Text"
                                     class="sc-oUAoT kVASKi pf-153eeb4b-4e2f9fbd">
        Thứ 2 - Thứ 6: 9:00 am - 9:00 pm <br />Thứ 7 - Chủ nhật: 9:00 am - 6:00 pm
    </span>





